@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--jml-color-bg: #fafafa;
	--jml-color-fg: #1c1c1c;
	--jml-color-border: #1c1c1c;
	--jml-color-accent: #1a1a1a;

	--jml-font-base: "Crimson Pro", "Georgia", serif;
	--jml-font-root-size: 18px;
	--jml-font-base-weight: 200;
	--jml-font-mono: "Roboto Mono", monospace;

	--jml-max-width: 768px;
}

.dark {
	--jml-color-bg: #1a1a1a;
	--jml-color-fg: #e0e0e0;
	--jml-color-border: #ffffff;
	--jml-color-accent: #ffffff;
}

* {
	box-sizing: border-box;
}

html {
	font-size: var(--jml-font-root-size);
}

*::selection {
	color: var(--jml-color-bg);
	background-color: var(--jml-color-fg);
}

body {
	font-family: var(--jml-font-base);
	font-weight: var(--jml-font-base-weight);
	background: var(--jml-color-bg);
	color: var(--jml-color-fg);
	margin: 0;
}

h1 {
	font-size: 2.8rem;
	margin: 2rem 0 1rem;
}

h2 {
	font-size: 2.5rem;
	margin: 1.75rem 0 0.75rem;
}

h3 {
	font-size: 2.2rem;
	margin: 1.5rem 0 0.5rem;
}

h4 {
	font-size: 1.9rem;
	margin: 1.25rem 0 0.5rem;
}

h5 {
	font-size: 1.6rem;
	margin: 1rem 0 0.5rem;
}

h6 {
	font-size: 1.3rem;
	margin: 1rem 0 0.5rem;
}

a, button {
	font-family: var(--jml-font-base);
	font-weight: var(--jml-font-base-weight);
	outline: none;
	background: none;
	border: none;
	padding: 0;
	text-align: left;
	color: inherit;
	text-decoration: solid underline;
	font-size: 1rem;
	cursor: pointer;
}

button {
	user-select: none;
}

a:focus-visible, button:focus-visible {
	color: var(--jml-color-bg);
	background-color: var(--jml-color-fg);
}

input {
	font-size: 1rem;
	font-family: var(--jml-font-base);
	font-weight: var(--jml-font-base-weight);
	background: none;
	border: 1px solid var(--jml-color-border);
	color: var(--jml-color-fg);
	padding: 0.3em;
}

input:focus {
	outline: none;
	background: var(--jml-color-fg);
	color: var(--jml-color-bg);
}

a, button, input, textarea {
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
}

code {
	background: none;
	font-family: var(--jml-font-mono);
	font-size: 0.8rem;
	font-weight: 400;
	padding: 0 0.3em;
}

pre {
	background: none;
	font-family: var(--jml-font-mono);
	font-size: 0.8rem;
	font-weight: 400;
	padding: 0.75rem;
	overflow-x: auto;
	margin: 1.5rem 0;
	border: 1px solid var(--jml-color-border);
}

pre code {
	background: none;
	padding: 0;
}

@media (hover: hover) and (pointer: fine) {
	a:hover, button:hover {
		text-decoration-style: wavy;
	}
}
